body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white; /* Para que el texto sea visible en el fondo oscuro */
  }
  